@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  background-color: rgba(170, 87, 95, 0.852);
}
a{
  color: rgb(91, 56, 59);
  text-decoration: none;
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
header {
  top:0px;
}
  #app {

    padding: 0 2rem;
  }
}
